<header>
    <nav>
        <ul>
            <li><a href="#hero">Giới thiệu</a></li>
            <li><a href="#about">Về tôi</a></li>
            <li><a href="#projects">Dự án</a></li>
            <li><a href="#contact">Liên hệ</a></li>
        </ul>
    </nav>
</header>